  *{
    margin: 0px;
    padding: 0px;
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }

/* nav releted style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px;
}
.text-primary{
    color:#FD6E0A;
}
.button-primary{
   
    border-radius: 5px;
    background-color: #FD6E0A;
    border-color: #FD6E0A;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding:6px 4px 4px 4px;
    padding-left: 4px;
    text-align: center;
    
   
}
.nav title{
    color: #181818;
    font-size: 845px;
    font-weight: 900;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: rgb(70, 65, 59);
}
/* header style  */
.header{
    background-color: #e9d2c2;
    background-image: url("photo/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    
    
}
.banner{
    padding: 30px 30px 0px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    height: 300px;
    width: 800px;
}
.banner-content{
    max-width: 500px;

}
.banin{
    font-size: 25px;
    color: #474747;
    margin-bottom: 0px;
}
.name{
    font-size: 50px;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 20px;
}
.para{
    margin-top: 5px;
    margin-bottom: 50px;
    color: rgb(43, 45, 186);
}
/* main style */
.about{
    padding: 60px 60px 60px 60px;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 110px;
    border-radius: 10px;
    background-color: rgb(248, 202, 142);
    text-align: center;
    width: 800px;
    height: 400px;
}
.sectiontitle{
    padding: 50px;
    color: rgb(255, 13, 0);
    font-weight: 800;
}
.sectiondes{
    padding: 20px;
    font-style: italic;
    color: #f50afd;
}
.avoutinfocontainer{
    display: flex;
    justify-content: space-around;
    
}
.aboutinfo{
    text-align: center;
   
}
.info-title{
    font-style: normal;
    font-weight: 100;
   
}
.info-des{
    font-weight: 800;
   

}


.service{
    align-items: center;
    margin-top: 40px;
    margin-left: 250px;
    margin-right: 220px;
    padding: 60px 60px 60px 60px;
}
.section-title{
    text-align: center;
}
.skillcontainer{
    display: flex;
    margin-top: 10px;
    gap: 24px;
}
.skill{
    padding: 30px;
    background-color: #e9d2c2;
  
    border-radius: 10px;
    box-shadow: #ba9c87 4px 4px;
}

/* resume style */

.title3{
font-size: 30px;
font-weight: 700;
color: #474747;
margin-bottom: 10px;
}
.resumecontai{
    display: flex;
    gap: 50px;
    margin: 10px;
    margin-top: 40px;
    margin-left: 310px;
    margin-right: 220px;
}
.resumeitemtitle{
    margin-bottom: 10px;
}
.resumein{
    color: #757575;
    margin-bottom: 10px;
}
.resumecontai hr {
    margin: 30px 30px;
}
.download{
    text-align: center;
  
}
.btn{
    background-color: #FD6E0A; 
    margin-top: 50px;
    border-color: #FD6E0A;
    padding: 6px;
    border-radius: 4px;
    color: white;

}
/* footer style */

footer{
    display: flex;
    background-color: #e9d2c2;
    padding: 130px 200px;
    gap: 100px;
    margin-top: 50px;
}
.footercolom{
    width: 50%;
}
#one{
    padding: 10px;
    border-radius: 10px;
    border-color: white;
}
#two{
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
#ts{
    padding: 10px;
}
.bt{
    font-size: large;
    font-weight: 400;
    padding: 13px;
    background-color: #FD6E0A;
    color: white;
    border-color: #FD6E0A;
    border-radius: 5px;
    margin-top: 10px;
}
.parag{
    margin-top: 15px;
    margin-bottom: 15px;

}
.sociallink{
    padding: 15px;
}
.sociallink a{
    margin-right: 25px;

}